AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_RAW_BUCKET=
AWS_S3_MODEL_BUCKET=
AWS_S3_PRED_BUCKET=
TRAIN_QUEUE_URL=
WANDB_API_KEY=
WANDB_PROJECT=
WANDB_ENTITY=
SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID=
API_MODEL_S3_KEY=
API_MODEL_LOCAL_PATH=artifacts/rating_model.pt
TMDB_API_KEY=
TMDB_LANGUAGE=ko-KR
